
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}}</center>
<center>
  <br />
  {% for tongue in site.languages %}
    <a href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.permalink}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.permalink}} {% endif %}"><img src="/assets/img/{{ tongue }}.png" /></a>
  {% endfor %}</center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.baseurl}}/">HOME</a>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
