<a href="https://stackoverflow.com/users/{{ include.number }}/{{ include.username }}"><span class="icon icon--github">{% include icon-stackoverflow.svg %}</span><span class="username">{{ include.username }}</span></a>
