---
layout: page
permalink: /tools/html-generator
lang: en
redirect_from:
  - ferramentas/gerador-html
---
<h1>HTML Generator</h1>

<h2>Write here</h2>

<textarea name="editor1"></textarea>
<script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'editor1' );
    CKEDITOR.instances['editor1'].on('change', function(e) {
        document.getElementById('generated-code').value = this.getData();
    });
</script>

<h2>Get here</h2>
<textarea id="generated-code" readonly style="width:100%;height:300px"></textarea>
