---
layout: page
permalink: /tools/slugify-online
lang: pt_br
---
<h1>Slugify Online</h1>

<p><br><strong>Escreva aqui</strong></p>
<input id="urlize_input" type="text" style="width: 100%;">

<p>
  <br>
  <strong>Copie aqui</strong>
</p>
<input id="urlize_output" type="text" style="width: 100%;">

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  // Slugify source: http://dense13.com/blog/2009/05/03/converting-string-to-slug-javascript/
  function string_to_slug(str) {
    str = str.replace(/^\s+|\s+$/g, ''); // trim
    str = str.toLowerCase();
    
    // remove accents, swap ñ for n, etc
    var from = "ãàáäâèéëêìíïîòóöôùúüûñç·/_,:;";
    var to   = "aaaaaeeeeiiiioooouuuunc------";
    for (var i=0, l=from.length ; i<l ; i++) {
      str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
      .replace(/\s+/g, '-') // collapse whitespace and replace by -
      .replace(/-+/g, '-'); // collapse dashes

    return str;
  }

  // Replace with slug
  document.getElementById("urlize_input").onkeyup = function() {
    var value = document.getElementById("urlize_input").value
    document.getElementById("urlize_output").value = string_to_slug(value)
  }

  jQuery(document).ready(function(){
    // Copy button
    // Source: http://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript
    $('#copy-button').change(function(){
      var copyTextarea = document.querySelector('#urlize_output');
      copyTextarea.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
      } catch (err) {
        alert("Não foi possível copiar ao clicar no botão. Por favor, faça manualmente!")
      }
    })
  });
</script>
